# Игнорировать папки сборки и дистрибутивов
build/
dist/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.spec

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать файлы настроек IDE
.idea/
.vscode/
*.swp
*.swo 